@import url("./reset.css");
@import url("./themes/dark.css");
@import url("./themes/light.css");
@import url("./variables/global.css");

.app {
  color: var(--text-color);
  background-color: var(--background-color);
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.content_wrapper {
  display: flex;
  overflow: hidden;
  flex: 1;
  gap: 24px;
}

.content {
  flex: 1;
  background-color: var(--secondary-background-color);
  overflow: hidden auto;
  padding: 10px;
}
