.authForm {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    z-index: var(--z-index-auth-modal);
    background: rgb(0 0 0 / 50%);
    border-radius: 8px;
}

.chat {
    position: relative;
    height: calc(100vh - var(--navbar-height) - 20px);
}

.logoutButton {
    background-color: var(--hover-color);
}

.title {
    font-size: 24px;
}