.Carousel {
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
  background-color: var(--secondary-bg-color);
  border-radius: 8px;
}

.item {
  flex: 0 0 100%;
  width: 100%;
  height: 100%;
  transition:
    transform 0.5s ease,
    opacity 0.2s ease;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
}

.item.active {
  opacity: 1;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--secondary-color);
  color: var(--bg-color);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  cursor: pointer;
  font-size: 20px;
  font-weight: 500;
  display: flex;
  z-index: 20;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s;
}

.arrow:hover {
  background-color: var(--hover-color);
  color: var(--secondary-color);
}

.arrow:first-of-type {
  left: 10px;
}

.arrow:last-of-type {
  right: 10px;
}
