.app_dark_theme {
  --background-color: #000;
  --secondary-background-color: #101010;
  --icon-background-color: #1f1f1f;
  --text-color: #e0e0e0;
  --title-color: #fff;
  --border-color: #c0c0c0;
  --movie-card-bg-color: #1c1c1c;
  --hover-color: #e50914;
  --logo-color: #ffd700;
  --scrollbar-thumb-color: #555;
  --scrollbar-track-color: #1f1f1f;
}
