.app_light_theme {
  --background-color: #fff;
  --secondary-background-color: #f5f5f5;
  --icon-background-color: #eaeaea;
  --text-color: #1a1a1a;
  --title-color: #000;
  --border-color: #c0c0c0;
  --movie-card-bg-color: #f9f9f9;
  --hover-color: #e50914;
  --logo-color: #ffd700;
  --scrollbar-thumb-color: #bbb;
  --scrollbar-track-color: #f0f0f0;
}
